<!DOCTYPE html>
<html>
<head>
  <title>Ticketee</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<!-- renders all flash messages that are defined regardless of name or controller they come from. These lines will display the flash[:notice]-->
<% flash.each do |key, message| %>
<div><%= message %></div>
<% end %>

<%= yield %>

</body>
</html>
